<div ng-controller="userCtrl as user">
    <div class="table-responsive" style="background:#ffffff;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ユーザーID</th>
                    <th>ユーザー名</th>
                    <th>性別</th>
                    <th></th>
                </tr>
            </thead>
            <div class="row">
                <tbody>
                    <tr ng-repeat="user in users | limitTo: limit: begin">
                        <td class="col-xs-2">{{user.userid}}</td>
                        <td class="col-xs-3">{{user.name}}</td>
                        <td class="col-xs-2">{{user.sex}}</td>
                        <td class="col-xs-2">
                            <button class="btn btn-success" ng-click="showModal($index);"><i class="fa fa-address-card-o" aria-hidden="true"></i><span style="padding-left:5px;">詳細</span></button>
                        </td>
                    </tr>
                </tbody>
            </div>
        </table>
    </div>
    <div class="centering">
        <ul class="pagination">
            <li ng-repeat="n in range()" ng-click="page(n)">
                <a>{{n}}</a>
            </li>
        </ul>
    </div>
</div>
